pcb/*.?#?
firmware/protocol/donglepi.pb.c
firmware/protocol/donglepi.pb.h
firmware/**/*.d
firmware/**/*.o
firmware/**/*.hex
firmware/*.bin
firmware/*.elf
firmware/*.lss
firmware/*.map
firmware/*.sym
**/*.pyc
python/DPi/donglepi_pb2.py
python/DPi/nanopb_pb2.py
